.container {
    width: 100%;
    margin: 0 auto;
}
.navbar {
    width: 100%;
    overflow: hidden;
    height: 120px;
    line-height: 150px;
    background-color: #24a188;
}
.personal_logo {
    float: left;
    width: 100px;
    padding-top: 10px;
    padding-left: 10px;
}
.menu {
    float: right;
}
.menu li {
    float: right;
    width: 120px;
    height: 120px;
    line-height: 100px;
    text-align: center;
    list-style: none;
}
.menu li a {
    text-decoration: none;
    font-family: 'Calibri';
    font-size: larger;
}
.menu li:hover {
    background: #1a7765;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url("images/white_background.png");
    background-repeat: repeat;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: lightgray;
}
a:active {
    color: white;
}